---
import getProjects from '@/lib/data/projects'
import { GithubIcon } from './icons/tools'
import SUPPORTED_LANGUAGES, {
  DEFAULT_LANGUAGE,
  type Language
} from '@/supported-languages'
import { LinkIcon } from './icons'

interface Props {
  lang?: Language
}

const lang = Astro.props.lang ?? DEFAULT_LANGUAGE

if (!Object.values(SUPPORTED_LANGUAGES).includes(lang)) {
  throw new Error(`Unsupported language: ${lang}`)
}

const projects = getProjects(lang)
---

<div class="flex flex-col gap-20">
  {
    projects.map((project) => (
      <article class="flex flex-col md:flex-row gap-7">
        <div class="md:w-[45%] grid md:place-items-center">
          <div class="overflow-hidden rounded-lg self-start">
            <img
              src={project.image}
              alt={`${project.slug}-image`}
              class="object-cover w-full h-full md:scale-110"
            />
          </div>
        </div>

        <div class="flex flex-col gap-7 md:w-[55%]">
          <div class="flex flex-col gap-5 md:gap-2">
            <h2 class="font-bold text-xl md:text-2xl">{project.name}</h2>
            <div class="flex gap-2 flex-wrap">
              {project.stack &&
                project.stack.map((technology) => (
                  <span
                    class={`${technology.colorClass} rounded-full px-2 py-1 text-sm flex gap-1 items-center justify-center`}
                  >
                    <technology.icon />
                    {technology.name}
                  </span>
                ))}
            </div>
          </div>

          <div class="flex flex-col gap-5">
            <p class="text-soft-dark/70 dark:text-soft-white/70 text-pretty">
              {project.description}
            </p>
            <div class="flex gap-5">
              {project.github && (
                <a
                  href={project.github}
                  class="flex gap-2 bg-light-primary rounded-xl px-3 py-2 items-center hover:bg-light-secondary transition-colors text-soft-white"
                >
                  <GithubIcon className="size-4" />
                  Code
                </a>
              )}
              {project.demo && (
                <a
                  href={project.demo}
                  class="flex gap-2 bg-light-primary rounded-xl px-3 py-2 items-center hover:bg-light-secondary transition-colors text-soft-white"
                >
                  <LinkIcon className="size-4" />
                  Preview
                </a>
              )}
            </div>
          </div>
        </div>
      </article>
    ))
  }
</div>
