---
import { getRelativeLocaleUrl } from 'astro:i18n'
import HeaderSettings from './partials/header-settings'
import SUPPORTED_LANGUAGES, {
  DEFAULT_LANGUAGE,
  type Language
} from '@/supported-languages'
import content from '@/content/ui.json'

interface Props {
  lang?: Language
}

const lang = Astro.props.lang ?? DEFAULT_LANGUAGE

if (!Object.values(SUPPORTED_LANGUAGES).includes(lang)) {
  throw new Error(`Unsupported language: ${lang}`)
}

const text = content.nav[lang]
const localeUrl = getRelativeLocaleUrl(lang)
---

<header
  id="main-header"
  class="text-sm w-full fixed top-8 grid place-items-center z-50"
>
  <nav
    class="flex bg-light-secondary dark:bg-secondary text-soft-white py-2 px-5 rounded-full shadow-md"
  >
    <ul
      class="flex gap-3 md:gap-5 items-center [&>li]:grid [&>li]:place-items-center"
    >
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href={`${localeUrl}#experience`}>{text.experience}</a
        >
      </li>
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href={`${localeUrl}#projects`}>{text.projects}</a
        >
        <li>
          <a
            class="hover:text-gray-300 transition-colors duration-200"
            href={`${localeUrl}#about-me`}>{text.aboutMe}</a
          >
        </li>
        <li>
          <a
            class="hidden md:block hover:text-gray-300 transition-colors duration-200"
            href="mailto:victormrodas99@gmail.com">{text.contact}</a
          >
        </li>
        <li>
          <HeaderSettings currentLanguage={lang} client:only="react" />
        </li>
      </li>
    </ul>
  </nav>
</header>
