---
import HeaderSettings from './partials/header-settings'
import SUPPORTED_LANGUAGES, {
  DEFAULT_LANGUAGE,
  type Language
} from '@/supported-languages'

interface Props {
  lang?: Language
}

const lang = Astro.props.lang ?? DEFAULT_LANGUAGE

if (!Object.values(SUPPORTED_LANGUAGES).includes(lang)) {
  throw new Error(`Unsupported language: ${lang}`)
}

const content = {
  es: {
    experience: 'Experiencia',
    projects: 'Proyectos',
    aboutMe: 'Sobre mí',
    contact: 'Contacto'
  },
  en: {
    experience: 'Experience',
    projects: 'Projects',
    aboutMe: 'About me',
    contact: 'Contact'
  }
}

const text = content[lang]
---

<header
  id="main-header"
  class="text-sm w-full fixed top-8 grid place-items-center z-50"
>
  <nav
    class="flex bg-light-secondary dark:bg-secondary text-soft-dark dark:text-soft-white py-2 px-5 rounded-full shadow-md"
  >
    <ul class="flex gap-5 items-center [&>li]:grid [&>li]:place-items-center">
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href="/#experience">{text.experience}</a
        >
      </li>
      <li>
        <a
          class="hover:text-gray-300 transition-colors duration-200"
          href="/#projects">{text.projects}</a
        >
        <li>
          <a
            class="hover:text-gray-300 transition-colors duration-200"
            href="/#about-me">{text.aboutMe}</a
          >
        </li>
        <li class="hidden md:block">
          <a
            class="hover:text-gray-300 transition-colors duration-200"
            href="mailto:victormrodas99@gmail.com">{text.contact}</a
          >
        </li>
        <li>
          <HeaderSettings currentLanguage={lang} client:only="react" />
        </li>
      </li>
    </ul>
  </nav>
</header>
